.keypad-button {
    background-color: Grey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
}

.keypad-button:hover {
    background-color: LightGray;
    cursor: pointer;
  }

.go-button {
    background-color: MediumSeaGreen; /* Green */
    border: none;
    color: white;
    padding: 15px 104px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.go-button:hover {
    background-color: Aquamarine;
    cursor: pointer;

.input-box {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 36%;
}

.container {
    width: 40%;
    margin: 0 auto;
}
